html
  head
  body
    form(method="post")
      fieldset
        legend General
        p
          label first name:
            input(type="text", name="firstName")
          label last name:
            input(type="text", name="lastName")
          label email:
            input(type="text", name="email")
      p.buttons
        input(type="submit", value="Save")
  