html
	head
	body
		h1 User page
		p Here you can find all our subscribed users
			each thing in users 
				ul
					li First name: #{thing.firstName}, last name: #{thing.lastName}, email: #{thing.email}