html
  head
  body
    form
      fieldset
        legend General
        p
          label Username:
            input(id='query', type="text", name="query")
      p.buttons
        input(type="submit", value="Save")
      p This is your result:


      script(src="https://code.jquery.com/jquery-3.1.1.js")
      script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.js") 
      script(src="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
      script.
        $("#query").keyup(function(e){
          e.preventDefault()
          let userInput = $(this).val()
          $.post('/searchData', {input: userInput}, function(data, status){
            $( "#query" ).autocomplete({
              source: data
              })
            })
        })




