html
  head
  body
    form(method="post")
      fieldset
        legend General
        p
          label Username:
            input(type="text", name="query")
      p.buttons
        input(type="submit", value="Save")
  